.DS_Store
logs
tmp
target/
.classpath
.project
.settings/
*.log*
jvm.pid
server.info
.cache
bin/
.idea/
*.iml
*.ipr
*.iws
hsf.configuration
*.configuration
tree.txt

MANIFEST.MF
*.MF
*.class
*.jar
*.pdf
